* {
  box-sizing: border-box;
}

.container {
  background: lightgrey;
  padding:15px;
  margin:15px auto;
  overflow:hidden;
  border-radius:10px;
  border:2px solid darkgrey;
  font-family: sans-serif;
}

h1, h2 {
  margin:0;
  text-align:center;
  text-transform:uppercase;

}

h2 {
  font-size:20px;
  text-align:center;
  border-bottom:1px solid #b1c9bb;
  padding: 0 0 10px;
  color:#57635c;

}

.new-task-container {
  text-align:center;
}

.box {
  padding:10px 15px;
  border:1px solid darkgrey;
  border-radius:5px;
  background:#FFF;
  margin:15px 0;
}


.todo-list {
  float:left;
  width:49%;
  min-height: 30%;
  max-height: 60%;
  overflow: auto;
}

.complete-list {
  float:right;
  width:49%;
  min-height: 30%;
  max-height: 60%;
  overflow: auto;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

li{
  padding:10px;
  border-bottom:1px dotted #CCC;
}

.delete {
  float:right;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  padding: 4px 12px;
  vertical-align: middle;
  margin-top: -3px;
}

.app-button {
  cursor: pointer;
  background: black;
  color: white;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px 0 15px 0;
}

.app-input {
  border-radius: 3px;
  padding: 10px 15px;
  height: 38px;
  width: 35%;
}

input[type="checkbox"]{
  cursor: pointer;
}